<button type="button" onclick="BotonCrear()" class="btn btn-primary btn-icon-split btn-sm" data-bs-toggle="modal"
    data-bs-target="#ModuloCultivo">
    <span class="icon text-white-50">
        <i class="fas fa-user-plus"></i>
    </span>
    <span class="text">Resgistrar Cultivo</span>
</button>
<hr>

<!-- Inicio Modal Cultivo!-->
<div class="modal fade" id="ModuloCultivo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header text-primary">
                <h5 class="modal-title " id="exampleModalLabel"></h5>
            </div>

            <form id="forCultivo">
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-7">
                            <div>
                                <label>Cultivo</label>
                                <input type="text" class="form-control form-control-user" id="cultivo" name="cultivo"
                                    placeholder="Cultivo : ">
                                <input type="hidden" class="form-control form-control-user" id="Identificador"
                                    name="Identificador">
                            </div>
                            <div id="grupo_cultivo"></div>
                        </div>
                        <div class="col-sm-5">
                            <div>
                                <label>Tiempo Maduración</label>
                                <select class="form-control form-control-user" id="maduracion" name="maduracion">

                                </select>
                            </div>
                            <div id="grupo_maduracion"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div>
                                <label>Inicial</label>
                                <input type="text" class="form-control form-control-user" id="kc1" name="kc1"
                                    placeholder="kc1">
                            </div>
                            <div id="grupo_kc1"></div>
                        </div>
                        <div class="col-sm-3">
                            <div>
                                <label>Desarrollo</label>
                                <input type="text" class="form-control form-control-user" id="kc2" name="kc2"
                                    placeholder="kc2">
                            </div>
                            <div id="grupo_kc2"></div>
                        </div>
                        <div class="col-sm-3">
                            <div>
                                <label>Media</label>
                                <input type="text" class="form-control form-control-user" id="kc3" name="kc3"
                                    placeholder="kc3">
                            </div>
                            <div id="grupo_kc3"></div>
                        </div>
                        <div class="col-sm-3">
                            <div>
                                <label>Maduración</label>
                                <input type="text" class="form-control form-control-user" id="kc4" name="kc4"
                                    placeholder="kc4">
                            </div>
                            <div id="grupo_kc4"></div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <div>
                                <label>Dist entre Planta</label>
                                <input type="text" class="form-control form-control-user" id="dep" name="dep"
                                    placeholder="metros">
                            </div>
                            <div id="grupo_dep"></div>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                <label>Dist Lateral Planta</label>
                                <input type="text" class="form-control form-control-user" id="dlp" name="dlp"
                                    placeholder="metros">
                            </div>
                            <div id="grupo_dlp"></div>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                <label>Frecuencia Riego</label>
                                <select class="form-control form-control-user" id="frecuencia" name="frecuencia">

                                </select>
                            </div>
                            <div id="grupo_frecuencia"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Descripción Cultivo </label>
                        <textarea class="form-control" name="descripcion" id="descripcion" rows="3"></textarea>
                    </div>
                </div>

                <div class="modal-footer" id="BotonesCrear">
                    <button type="button" class="btn btn-secondary btn-icon-split btn-sm" id="btn_Cerrar"
                        data-bs-dismiss="modal">
                        <span class="icon text-white-50">
                            <i class="fa fa-window-close"></i>
                        </span>
                        <span class="text">Cerrar</span>
                    </button>
                    <button type="submit" value="CrearCultivo" class="btn btn-primary btn-icon-split btn-sm"
                        id="btn_Crear">
                        <span class="icon text-white-50">
                            <i class="fa fa-save"></i>
                        </span>
                        <span class="text">Guardar</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Fin Modal Modulo-->
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 centro">
        <h6 class="m-0 font-weight-bold text-primary">Cultivo</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div class="input-group">
                <form class="form-inline my-2 my-lg-0">
                    <input type="search" id="txt_Buscar" onkeyup="Buscar()" class="form-control mr-sm-2"
                        placeholder="Buscar">
                </form>

            </div>


            <br>
            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>CULTIVO</th>
                        <th>FR</th>
                        <th>DEP</th>
                        <th>DLP</th>
                        <th>Tpo. Mad</th>
                        <th>Inicial</th>
                        <th>Desarrollo</th>
                        <th>Media</th>
                        <th>Maduración</th>
                        <th>Descripción</th>
                        <th>ACCIÓN</th>

                    </tr>
                </thead>

                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    let btn_verificador = "Actualizar";
    const btnCrear = document.querySelector('#btn_Crear');
    const btnCerrar = document.querySelector('#btn_Cerrar');
    function ListaCultivo() {
        var URL = "/GestionCultivo/Cultivos";
        $.ajax({
            url: URL,
            type: "get",
            dataType: "json",
            success: function (response) {
                let tbody = $('tbody');
                tbody.html('');
                var a = 1;
                response.forEach(cultivo => {
                    tbody.append(`
                    <tr>
                        <td >${a++}</td>
                        <td>${cultivo.cul_nombre}</td>
                        <td>${cultivo.cul_frecuencia_riego} d</td>
                        <td>${cultivo.cul_dep} m</td>
                        <td>${cultivo.cul_dlp} m</td>
                        <td>${cultivo.cul_TpoMaduracion} meses</td>
                        <td>${cultivo.cul_kc1}</td>
                        <td>${cultivo.cul_kc2}</td>
                        <td>${cultivo.cul_kc3}</td>
                        <td>${cultivo.cul_kc4}</td>
                        <td> ${cultivo.cul_descripcion}</td>
                        <td>
                            <a id="Actualizar" value="CrearUsuario" class="tn btn-primary btn-circle"  data-bs-toggle="modal" data-bs-target="#ModuloCultivo"
                               onclick="ActualizarModuloCultivo(${cultivo.cul_id})">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a class="btn btn-danger btn-circle"
                               onclick="eliminarCultivo(${cultivo.cul_id})">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                `)
                })
            }, error: function (e) {
                console.log(e.readyState);
            }
        });
    }

    btnCrear.addEventListener('click', function (e) {
        e.preventDefault();
        let cultivo = $('#cultivo').val();
        let TpoMad = $('#maduracion').val();
        let kc1 = $('#kc1').val();
        let kc2 = $('#kc2').val();
        let kc3 = $('#kc3').val();
        let kc4 = $('#kc4').val();
        let dep = $("#dep").val();
        let dlp = $("#dlp").val();
        let frecuencia = $("#frecuencia").val();
        let descripcion = $('#descripcion').val();
        if (campoVacio(cultivo, "grupo_cultivo", "Ingrese el cultivo")) {

            if (campoVacio(kc1, "grupo_kc1", "Ingrese el valor kc1")) {
                if (validarNumerosIntDoubles(kc1, "grupo_kc1", "Valor Incorrecto")) {

                    if (campoVacio(kc2, "grupo_kc2", "Ingrese el valor kc2")) {
                        if (validarNumerosIntDoubles(kc2, "grupo_kc2", "Valor Incorrecto")) {

                            if (campoVacio(kc3, "grupo_kc3", "Ingrese el valor kc3")) {
                                if (validarNumerosIntDoubles(kc3, "grupo_kc3", "Valor Incorrecto")) {

                                    if (campoVacio(kc4, "grupo_kc4", "Ingrese el valor kc4")) {
                                        if (validarNumerosIntDoubles(kc4, "grupo_kc4", "Valor Incorrecto")) {

                                            ////
                                            if (campoVacio(dep, "grupo_dep", "Ingrese la distancia entre planta")) {
                                                if (validarNumerosIntDoubles(dep, "grupo_dep", "Valor Incorrecto")) {

                                                    if (campoVacio(dlp, "grupo_dlp", "Ingrese la distancia lateral de la planta")) {
                                                        if (validarNumerosIntDoubles(dlp, "grupo_dlp", "Valor Incorrecto")) {

                                                            if (btn_verificador == "CrearCultivo") {
                                                                var URL = "/GestionCultivo/Crear";
                                                                $.ajax({
                                                                    url: URL,
                                                                    type: "post",
                                                                    dataType: "json",
                                                                    data: {
                                                                        cultivo,
                                                                        TpoMad,
                                                                        kc1,
                                                                        kc2,
                                                                        kc3,
                                                                        kc4,
                                                                        dep,
                                                                        dlp,
                                                                        frecuencia,
                                                                        descripcion
                                                                    },
                                                                    success: function (res) {
                                                                        if (res.response == "success") {
                                                                            toastr["success"](res.mensaje)
                                                                            $('#ModuloCultivo').modal('hide');
                                                                            $('#forCultivo')[0].reset();
                                                                            ListaCultivo();
                                                                        }

                                                                    }

                                                                });
                                                            } else {
                                                                let Identificador = $('#Identificador').val();
                                                                var URL = "/GestionCultivo/Actualizar/" + Identificador;

                                                                $.ajax({
                                                                    url: URL,
                                                                    type: "post",
                                                                    dataType: "json",
                                                                    data: {
                                                                        cultivo,
                                                                        TpoMad,
                                                                        kc1,
                                                                        kc2,
                                                                        kc3,
                                                                        kc4,
                                                                        dep,
                                                                        dlp,
                                                                        frecuencia,
                                                                        descripcion
                                                                    },
                                                                    success: function (res) {
                                                                        if (res.response == "success") {
                                                                            toastr["success"](res.mensaje)
                                                                            $('#ModuloCultivo').modal('hide');
                                                                            $('#forCultivo')[0].reset();
                                                                            ListaCultivo();
                                                                            limpiarHtml();
                                                                        }
                                                                    }
                                                                });
                                                            }
                                                        }
                                                    }
                                                }
                                            }///
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }

        }

    });

    function BotonCrear() {
        let nombre = $('#btn_Crear').val();
        var a = document.getElementById("exampleModalLabel");
        a.innerHTML = "Registrar Cultivo";
        btn_verificador = nombre;
        ListaDias(0);
        ListaMAduracion(0);
        LimpiarCampos();
    }
    function ActualizarModuloCultivo(id) {
        btn_verificador = "Actualizar";
        var a = document.getElementById("exampleModalLabel");
        a.innerHTML = "Actualizar Cultivo";
        const URL = "/GestionCultivo/Actualizar/" + id;
        $.ajax({
            url: URL,
            type: "get",
            success: function (res) {
                $("#cultivo").val(res.cul_nombre);
                $('#kc1').val(res.cul_kc1);
                $('#kc2').val(res.cul_kc2);
                $('#kc3').val(res.cul_kc3);
                $('#kc4').val(res.cul_kc4);
                $("#dep").val(res.cul_dep);
                $("#dlp").val(res.cul_dlp);
                ListaDias(res.cul_frecuencia_riego);
                ListaMAduracion(res.cul_TpoMaduracion);
                $("#descripcion").val(res.cul_descripcion);
                $("#Identificador").val(id);

            }
        });
    }

    function eliminarCultivo(id) {
        const URL = "/GestionCultivo/Eliminar/" + id;
        Swal.fire({
            title: 'Estas seguro?',
            text: "No podrás revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, bórralo!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: URL,
                    type: "get",
                    success: function (res) {
                        if (res.response == "success") {
                            Swal.fire(
                                'Eliminado!',
                                'Cultivo  eliminado.',
                                'exito'
                            )
                            ListaCultivo();
                        }
                    }
                });
            }
        })
    }
    function Buscar() {
        let buscar = $('#txt_Buscar').val();
        const URL = "/GestionCultivo/Buscar";
        $.ajax({
            url: URL,
            type: "post",
            data: { buscar },
            success: function (response) {
                let tbody = $('tbody');
                tbody.html('');
                var a = 1;
                response.forEach(cultivo => {
                    tbody.append(`
                    <tr>
                        <td >${a++}</td>
                        <td>${cultivo.cul_nombre}</td>
                        <td>${cultivo.cul_frecuencia_riego} d</td>
                        <td>${cultivo.cul_TpoMaduracion} meses</td>
                        <td>${cultivo.cul_dep} m</td>
                        <td>${cultivo.cul_dlp} m</td>
                        <td>${cultivo.cul_kc1}</td>
                        <td>${cultivo.cul_kc2}</td>
                        <td>${cultivo.cul_kc3}</td>
                        <td>${cultivo.cul_kc4}</td>
                        <td> ${cultivo.cul_descripcion}</td>
                        <td>
                            <a id="Actualizar" value="CrearUsuario" class="tn btn-primary btn-circle"  data-bs-toggle="modal" data-bs-target="#ModuloCultivo"
                               onclick="ActualizarModuloCultivo(${cultivo.cul_id})">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a class="btn btn-danger btn-circle"
                               onclick="eliminarCultivo(${cultivo.cul_id})">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                `)
                })
            }
        });
    }

    function limpiarHtml() {
        document.getElementById("grupo_cultivo").innerHTML = "";
        document.getElementById("grupo_kc1").innerHTML = "";
        document.getElementById("grupo_kc2").innerHTML = "";
        document.getElementById("grupo_kc3").innerHTML = "";
        document.getElementById("grupo_kc4").innerHTML = "";
        document.getElementById("grupo_dep").innerHTML = "";
        document.getElementById("grupo_dlp").innerHTML = "";
    }

    btnCerrar.addEventListener("click", function (e) {
        limpiarHtml();
        LimpiarCampos();
    });

    function LimpiarCampos() {
        $("#cultivo").val("");
        $("#kc1").val("");
        $("#kc2").val("");
        $("#kc3").val("");
        $("#kc4").val("");
        $("#dep").val("");
        $("#dlp").val("");
        $('#descripcion').val("");

    }

    function ListaDias(id_mes) {

        let meses = document.getElementById("frecuencia");
        let mensaje = "";
        for (let i = 0; i < 24; i++) {
            let aux = (i + 1);
            if (id_mes == aux) {
                mensaje += "<option value='" + aux + "' selected>" + aux + " día</option>";
            } else {
                mensaje += "<option value='" + aux + "'>" + aux + " día</option>";
            }

        }
        meses.innerHTML = mensaje;
    }
    function ListaMAduracion(id_mes) {

        let meses = document.getElementById("maduracion");
        let mensaje = "";
        for (let i = 1; i < 24; i++) {
            let aux = (i + 1);
            if (id_mes == aux) {
                mensaje += "<option value='" + aux + "' selected>" + aux + " meses</option>";
            } else {
                mensaje += "<option value='" + aux + "'>" + aux + " meses</option>";
            }

        }
        meses.innerHTML = mensaje;
    }

    window.onload = ListaCultivo;

</script>