<div class="card">

    <div class="card-header">
        <div class="input-group">
            <form class="form-inline my-2 my-lg-0">
                <input type="date" id="txt_buscar" class="form-control mr-sm-2">
            </form>
            <button type="button" onclick="BuscarValor()" class="btn btn-primary btn-icon-split btn-sm">
                <span class="icon text-white-50">
                    <i class="fas fa-search"></i>
                </span>
                <span class="text">Buscar</span>
            </button>
        </div>
        <div id="grupo_txtBuscar1"></div>
    </div>

  


    <div class="row">
        <div id="curve_chart1" style="width: 900px; height: 500px" class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        </div>
    </div>



</div>




<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart2);





    var options = {
        title: 'Grafica sensor temperatura DTH11',
        hAxis: { title: 'Horas ', titleTextStyle: { color: '#333' } },
        vAxis: { title: 'Temperatura' },
        with: 200,
        colors: ['#BCCA36'],
        curveType: 'function',
        legend: { position: 'bottom' }
    };

    function drawChart2() {
        var fecha = fechaActual();

        var Data = new google.visualization.DataTable();
        Data.addColumn('number', 'hora');
        Data.addColumn('number', 'Temperatura');
        Data.addRows(20);

        var URL = "/Temperatura/ListaTemperatura";
        $.ajax({
            url: URL,
            type: "post",
            dataType: "json",
            data: { fecha },
            success: function (response) {
                var contador = 0;
                limpiarHtml();
                response.forEach(temperatura => {
                    var a = temperatura.tem_hora.split(":");
                    Data.setValue(contador, 0, a[0]);
                    Data.setValue(contador, 1, temperatura.tem_temperatura);
                    console.log(temperatura.tem_hora);

                    contador++;
                });

                var chartspace = new google.visualization.LineChart(document.getElementById('curve_chart1'));
                chartspace.draw(Data, options);

            }, error: function (e) {
                console.log(e.readyState);
            }
        });
    }


    function BuscarValor() {
        let fecha = $('#txt_buscar').val();
        if (campoVacio(fecha, "grupo_txtBuscar1", "Seleccione una fecha valida")) {
            var Data = new google.visualization.DataTable();
            Data.addColumn('number', 'hora');
            Data.addColumn('number', 'Temperatura');
            Data.addRows(20);
            var URL = "/Temperatura/ListaTemperatura";
            $.ajax({
                url: URL,
                type: "post",
                dataType: "json",
                data: { fecha },
                success: function (response) {
                    var contador = 0;
                    limpiarHtml();
                    response.forEach(temperatura => {
                        var a = temperatura.tem_hora.split(":");
                        Data.setValue(contador, 0, a[0]);
                        Data.setValue(contador, 1, temperatura.tem_temperatura);
                        console.log(temperatura.tem_hora);
                        contador++;
                    });

                    var chartspace = new google.visualization.LineChart(document.getElementById('curve_chart3'));
                    chartspace.draw(Data, options);
                }, error: function (e) {
                    console.log(e.readyState);
                }
            });
        }

    }

    function limpiarHtml() {
        $("#grupo_txtBuscar1").val("");
    }

</script>