<input type="hidden" id="cli_id" value="{{#cliente_id user 1}}{{/cliente_id}}" class="form-control mr-sm-2">


<div class="card">

    <div class="card-header">
        <div class="input-group">
            <div class="form-group row">
                <div class="col-sm-8">
                    <select name="cultivo" id="cultivo" class="form-control form-control-user">
                    </select>
                    <div id="grupo_cultivo"></div>
                </div>
                <div class="col-sm-4">
                    <button type="button" onclick="drawChart()" class="btn btn-primary btn-icon-split btn-sm">
                        <span class="icon text-white-50">
                            <i class="fas fa-search"></i>
                        </span>
                        <span class="text">Buscar</span>
                    </button>
                </div>
            </div>
        </div>
        <div id="grupo_txtBuscar1"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <canvas id="miGrafico"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <canvas id="miGrafico2"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <canvas id="miGrafico3"></canvas>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <canvas id="miGrafico4"></canvas>
        </div>
    </div>

</div>




<script type="text/javascript">


    function drawChart() {
        const id = $('#cli_id').val();
        const cul_id = $('#cultivo').val();
        var URL = "/VisualizacionSensores/Cultivo_riego/" + id;
        $.ajax({
            url: URL,
            type: "post",
            dataType: "json",
            data: { cul_id },
            success: function (response) {
                var fecha = [];
                var temperatura = [];
                var huemdad_rel = [];
                var huemdad_suelo = [];
                var Eto = [];
                var Etc = [];
                var volumen_agua = [];
                var tiempo_aplicacion = [];
                let nombre;
                for (var i in response) {
                    nombre = response[i].cul_nombre;
                    let aux = response[i].riego_fecha.split('T');
                    let eto = response[i].riego_eto;
                    let etapa = response[i].riego_etapa;
                    let kc = 0;
                    let fre = response[i].cul_frecuencia_riego;
                    let sp = response[i].cul_dep;
                    let sl = response[i].cul_dlp;
                    let se = response[i].rig_cul_dista_goteros;
                    let caudal = response[i].rig_cul_caudal;
                    let aux_etapa = "";
                    if (etapa == 1) {
                        kc = response[i].cul_kc1;
                        aux_etapa = "Inicial"
                    }
                    if (etapa == 2) {
                        kc = response[i].cul_kc2;
                        aux_etapa = "Desarrollo"
                    }
                    if (etapa == 3) {
                        kc = response[i].cul_kc3;
                        aux_etapa = "Media"
                    }
                    if (etapa == 4) {
                        kc = response[i].cul_kc4;
                        aux_etapa = "Maduración"
                    }
                    let etc = (eto * kc).toFixed(4);
                    let db1 = (((kc * eto) / 90) * 100).toFixed(4);
                    let G1 = ((db1 / fre) * sp * sl).toFixed(4);

                    let np = (sp / se);
                    let ta = ((((G1 / np)) * caudal) * 60).toFixed();
                    let men = aux_etapa + " : " + aux[0];
                    fecha.push(men);
                    temperatura.push(response[i].riego_temperatura);
                    huemdad_rel.push(response[i].riego_humedad_relativa);
                    huemdad_suelo.push(response[i].riego_humedad_suelo);
                    Eto.push(response[i].riego_eto);
                    Etc.push(etc);
                    tiempo_aplicacion.push(ta)
                    volumen_agua.push(G1)
                }







                var chartdata = {
                    labels: fecha,
                    datasets: [{
                        label: "Temperatura °C",
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgb(75, 192, 192)',
                        borderWidth: 2,
                        data: temperatura
                    }, {
                        label: "Humedad Relativa %",
                        backgroundColor: 'rgba(201, 203, 207, 0.2)',
                        borderColor: 'rgb(201, 203, 207)',
                        borderWidth: 2,
                        data: huemdad_rel
                    }, {
                        label: "Humedad suelo",
                        backgroundColor: 'rgba(255, 205, 86, 0.2)',
                        borderColor: 'rgb(255, 205, 86)',
                        borderWidth: 2,
                        data: huemdad_suelo
                    }],
                };

                var chartdata2 = {
                    labels: fecha,
                    datasets: [{
                        label: "Evopotranspiración",
                        backgroundColor: 'rgba(153, 102, 255, 0.2)',
                        borderColor: 'rgb(153, 102, 255)',
                        borderWidth: 2,
                        data: Eto
                    }, {
                        label: "Evopotranspiración del cultivo",
                        backgroundColor: 'rgba(255, 205, 86, 0.3)',
                        borderColor: 'rgb(255, 205, 86)',
                        borderWidth: 2,
                        data: Etc
                    }]
                };
                const datos = {

                    label: "Volumen de agua",
                    data: volumen_agua, // La data es un arreglo que debe tener la misma cantidad de valores que la cantidad de etiquetas
                    backgroundColor: 'rgba(54, 162, 235, 0.2)', // Color de fondo
                    borderColor: 'rgba(54, 162, 235, 1)', // Color del borde
                    borderWidth: 1,// Ancho del borde
                };
                const datos2 = {

                    label: "Tiempo de aplicación",
                    data: tiempo_aplicacion, // La data es un arreglo que debe tener la misma cantidad de valores que la cantidad de etiquetas
                    backgroundColor: 'rgba(255, 159, 64, 0.2)',// Color de fondo
                    borderColor: 'rgb(255, 159, 64)', // Color del borde
                    borderWidth: 1,// Ancho del borde
                };

                var mostrar = $("#miGrafico");
                var mostrar2 = $("#miGrafico2");
                var mostrar3 = $("#miGrafico3");
                var mostrar4 = $("#miGrafico4");

                var grafico = new Chart(mostrar, {
                    type: 'line',
                    data: chartdata,
                    options: {
                        responsive: true,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }, title: {
                            display: true,
                            text: "Datos Climatológicos del cultivo de :" + nombre
                        },
                    }
                });
                var grafico2 = new Chart(mostrar2, {
                    type: 'line',
                    data: chartdata2,
                    options: {
                        responsive: true,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },
                        title: {
                            display: true,
                            text: "Evapotrasnpiración del cultivo de: " + nombre
                        }
                    }
                });
                new Chart(mostrar3, {
                    type: 'bar',// Tipo de gráfica
                    data: {
                        labels: fecha,
                        datasets: [
                            datos,
                            // Aquí más datos...
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }],
                        },
                        title: {
                            display: true,
                            text: "Volumen de agua suministrado el cultivo de " + nombre
                        }
                    }
                });


                new Chart(mostrar4, {
                    type: 'bar',// Tipo de gráfica
                    data: {
                        labels: fecha,
                        datasets: [
                            datos2,
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }],
                        },
                        title: {
                            display: true,
                            text: "Tiempo de aplicación agua en el cultivo de " + nombre
                        }
                    },
                });



            }, error: function (e) {
                console.log(e.readyState);
            }
        });
    }




    function limpiarHtml() {
        $("#grupo_txtBuscar1").val("");


    }
    function SelectCultivos() {
        let rol = document.getElementById("cultivo");
        let mensaje = " <option selected value='0'>Escoga el cultivo...</option>";
        var URLRoles = "/GestionCultivo/Cultivos";
        $.ajax({
            url: URLRoles,
            type: "get",
            dataType: "json",
            success: function (response) {
                response.forEach(cultivo => {
                    mensaje += "<option value='" + cultivo.cul_id + "'>" + cultivo.cul_nombre + "</option>";
                });
                rol.innerHTML = mensaje;
            }
        });

    }







    window.onload = SelectCultivos();
</script>