<div class="container1">

    <div class="card">
        <img src="/imagenes/inicio_riego.jpg" alt="">
        <h4>Sistemas de Riego</h4>
        <br>
        <div class="row">
            <p style="text-align: justify;">Los métodos de riego poco eficientes, causa perdida de cultivos, consumo
                excesivo de agua,
                generando gastos económicos y lo más principal el desperdicio del líquido vital, provocando cada vez más
                escasez de este recurso hídrico. En la actualidad, alrededor de quinientos millones de personas sufren
                gran escasez de agua durante todo el año</p>
        </div>
        <br>
    </div>

    <div class="card">
        <img src="/imagenes/sensores_cultivo.jpg" alt="">
        <h4>Innovación sistema de riego</h4>
        <br>
        <div class="row">

            <p style="text-align: justify;">
                En el mundo globalizado que vivimos, con la innovación tecnología en distintas áreas, la agricultura no
                podría ser ajena a esta realidad, la automatización de un sistema de riego, permite suministra la
                cantidad necesaria de agua, humedeciendo el suelo hasta la profundidad requerida por el cultivo, para
                obtener un producto de calidad y a la vez dar un aprovechamiento óptimo al agua que es fundamental para
                los seres vivos.
            </p>
        </div>


    </div>
</div>