<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_login.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Document</title>
</head>
<br>

<body>
    <div class="row">
        <div class="col-lg-1 col-sm-6 col-xs-6"></div>
        <div class="col-lg-11 col-sm-6 col-xs-6">
            <div>
                <a class="navbar-brand text-white" href="/">
                    <img src="/imagenes/lluvia.png" width="40" height="40" class="d-inline-block align-top" alt="">
                    Automatización Riego
                </a>
            </div>
        </div>
    </div>
    {{>menssage}}
    <div class="center">

        <h1>Iniciar Session</h1>
        <form id="login-form" class="form" action="/login" method="POST">
            <div class="txt_field">
                <input type="text" name="username" id="username" required>
                <span></span>
                <label>Usuario</label>
            </div>
            <div class="txt_field">
                <input type="password" id="password" name="password" required>
                <span></span>
                <label>Contraseña</label>
            </div>

            <input type="submit" value="Login">
            <br>
            <br>



        </form>

    </div>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</html>